body {
  @include list-reset;
  width: 100%;
  height: auto;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: $black;
  background-image: url("../img/black-pattern.png");
  background-position: center;
  background-repeat: repeat;
  background-color: $black;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
