@font-face {
  font-family: "Exo2-Thin";
  src: local("Exo2-Thin"), url("../fonts/Exo2-Thin.ttf") format("ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "TrebuchetMS";
  src: local("TrebuchetMS"), url("../fonts/TrebuchetMS.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TrebuchetMS-Bold";
  src: local("TrebuchetMS-Bold"), url("../fonts/TrebuchetMS-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
